:root {
    --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

body {
    font-family: "Poppins", sans-serif, var(--system-font);
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/* navbar */

nav {
    padding: 10px 125px;
    box-shadow: 0 4px 4px -6px gray;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#items {
    display: flex;
    gap: 10px;
}

#logo {
    all: unset;
    /* border: none; */
    /* padding: 10px 20px; */
    cursor: pointer;
    /* border: solid 1px; */
    min-width: 90px;
}

#items button {
    all: unset;
    font-size: small;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
}

#items #signin-btn,
#items #register-btn {
    border-radius: 12px;
    min-width: 45px;
}

#items #signin-btn {
    background-color: #dadada;
}

#items #register-btn {
    color: white;
    background-color: black;
}
