* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    display: grid;
    place-items: center;
}

/* Navbar */
.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 6rem;

    border: solid 2px red;
}

.navbar #title {
    font-size: 2rem;
    text-align: center;
}

.menu {
    position: absolute;
    right: 5rem;

    border: solid 2px blue;
}

/* Menu CSS */
ul.menu {
    color: #353b3f;
    cursor: pointer;
}

ul.menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.menu .submenu {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #353b3f;
    border-radius: 1rem;
    padding: 1rem;
    transition: all 0.3s ease;
}

.menu .submenu li {
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.2s ease;
}

.menu .submenu li:nth-child(1):hover {
    background-color: #65d076;
}

.menu .submenu li:nth-child(2):hover {
    background-color: #4b82ff;
}

.menu .submenu li:nth-child(3):hover {
    background-color: #42b3db;
}

.menu .submenu li:nth-child(4):hover {
    background-color: #fa7e91;
}

.menu .submenu li:nth-child(5):hover {
    background-color: #a073ff;
}

.menu .links {
    text-decoration: none;
    color: inherit;
}

.menu img {
    width: 1.1rem;
    transition: transform 0.2s ease;
}

.menu:hover img {
    transform: rotate(180deg);
}

.menu:hover .submenu {
    top: 100%;
    opacity: 1;
    pointer-events: all;
}

/* Calculator */

.container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    margin-top: 3rem;

    border-radius: 20px;
    background-color: black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.result {
    grid-column: span 4;
    background-color: #595555;
    color: #fff;
    font-size: 3rem;
    text-align: right;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.col {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: #fff;
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.col.op {
    background-color: #f5902a;
    color: #fff;
}

.col.zero {
    grid-column: span 2;
}

.col:hover {
    background-color: #555;
}

.col.op:hover {
    background-color: #ffb347;
}

/* change mode css */
.mode {
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    max-width: 400px;
}

.mode-btn {
    background: none;
    border: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #4b82ff;
    text-decoration: underline;
    cursor: pointer;
}
