#container {
    text-align: center;
}

#main {
    padding-top: 20px;
    margin-bottom: 50px;
}

.choice {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#scores {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 10px;
    gap: 160px;
}

#scores > div {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 300px;
}
