body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

/* navbar */

.navbar-container {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 25px 150px 25px 150px;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-container-item {
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

/* landing section */

#landing {
    background-color: #1f2937;
    padding: 85px 150px 85px 150px;
}

.landing-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-container .row {
    display: flex;
    width: 100%;
    gap: 25px;
}

.landing-container .col-1,
.landing-container .col-2 {
    flex: 1;
}

#placeholder-img {
    max-width: 100%;
    height: auto;
}

.col-1 button {
    background-color: #3882f6;
    padding: 5px 25px 5px 25px; /* top right bottom left */
    font-size: 18px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* section 1 */

#section-1 {
    padding: 125px 150px 125px 150px;
    background-color: white;
}

#section-1 .row {
    display: flex;
    justify-content: space-around;
}

#section-1 .col-1,
#section-1 .col-2,
#section-1 .col-3,
#section-1 .col-4 {
    flex: 1;
    text-align: center;
}

.section1-img {
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 10px;
    object-fit: cover;
}

.information-header-text {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    margin-bottom: 50px;
}

.section-subtext {
    font-size: 11px;
    color: #6b7280;
}

/* section 2 */
#section-2 {
    padding: 180px 150px 180px 150px;
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
}

.quote-author {
    font-size: 18px;
    font-weight: bold;
    color: #1f2937;
    text-align: end;
    padding-right: 50px;
}

/* section 3 */

#section-3 {
    background-color: white;
    padding: 180px 150px 180px 150px;
}

.section3-container {
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    background-color: #3882f6;
    color: white;
}

.section3-text {
    flex: 1;
    text-align: left;
    margin-left: 75px;
}

.section3-text h4 {
    margin: 0;
    font-size: 24px;
}

.section3-text p {
    margin: 0;
    font-size: 11px;
}

#action-button {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    font-size: 14px;
    margin-right: 75px;
    cursor: pointer;
}

/* footer */

footer {
    padding: 20px 150px 20px 150px;
    background-color: #1f2937;
    color: white;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
}

/* responsiveness */
@media (max-width: 1200px) {
    .navbar-container,
    #landing,
    #section-1,
    #section-2,
    #section-3,
    footer {
        padding: 25px 50px;
    }

    .section3-container {
        flex-direction: column;
        text-align: center;
    }

    .section3-text {
        text-align: center;
        margin: 0 0 20px 0;
    }

    #action-button {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .navbar-container,
    #landing,
    #section-1,
    #section-2,
    #section-3,
    footer {
        padding: 25px;
    }

    .landing-container {
        flex-direction: column;
        text-align: center;
    }

    .row {
        flex-direction: column;
    }

    .navbar-links {
        flex-direction: column;
        align-items: center;
    }

    .navbar-container-item {
        margin: 10px 0;
    }

    .section3-container {
        padding: 20px;
    }

    .section3-text {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .main-text {
        font-size: 32px;
    }

    .secondary-text,
    .quote-text,
    .quote-author {
        font-size: 14px;
    }

    .section1-img {
        width: 100px;
        height: 100px;
    }

    .information-header-text {
        font-size: 24px;
    }

    .quote-text {
        font-size: 24px;
    }

    #section-3 {
        padding: 20px;
    }

    .section3-container {
        padding: 10px;
    }

    .section3-text h4 {
        font-size: 20px;
    }

    .section3-text p {
        font-size: 10px;
    }
}
